---
interface Props {
  title: string;
  lines: any;
}
const { title, lines } = Astro.props;

const lw = lines.find((item: any) => item.positionIdentifier == "lw");
const rw = lines.find((item: any) => item.positionIdentifier == "rw");
const c = lines.find((item: any) => item.positionIdentifier == "c");
const g1 = lines.find((item: any) => item.positionIdentifier == "g1");
const g2 = lines.find((item: any) => item.positionIdentifier == "g2");

const linePoints = lines
  .map((item: any) => item?.season?.points)
  .reduce((acc: any, value: any) => acc + value);
---

<div class="text-center mb-10">
  <b class="block my-2.5"
    >{title} {linePoints ? "- " + linePoints + " pts" : ""}</b
  >
  {
    g1 ? (
      <table class="w-full">
        <tr>
          <td
            title={
              "lst5 " +
              g1.last5?.goalieSavePercentage +
              "-" +
              g1.last5?.goalieGoalsAgainstAvg
            }
          >
            #{g1.jerseyNumber}
            <br />
            {g1.name}
          </td>
        </tr>
        <tr>
          <td
            title={
              "lst5 " +
              g2.last5?.goalieSavePercentage +
              "-" +
              g2.last5?.goalieGoalsAgainstAvg
            }
          >
            #{g2.jerseyNumber}
            <br />
            {g2.name}
          </td>
        </tr>
      </table>
    ) : (
      <table class="w-full">
        <tr>
          <th>LW</th>
          <th>C</th>
          <th>RW</th>
        </tr>
        <tr>
          <td
            title={
              "lst5 " +
              lw.last5?.goals +
              "-" +
              lw.last5?.assists +
              "--" +
              lw.last5?.points
            }
          >
            #{lw.jerseyNumber}
            <br />
            {lw.name}
          </td>
          <td
            title={
              "lst5 " +
              c?.last5?.goals +
              "-" +
              c?.last5?.assists +
              "--" +
              c?.last5?.points
            }
          >
            #{c.jerseyNumber}
            <br />
            {c.name}
          </td>
          <td
            title={
              "lst5 " +
              rw?.last5?.goals +
              "-" +
              rw?.last5?.assists +
              "--" +
              rw?.last5?.points
            }
          >
            #{rw.jerseyNumber}
            <br />
            {rw.name}
          </td>
        </tr>
      </table>
    )
  }
</div>
